<h2>Profile Page</h2>

<h3>Welcome to your PROFILE, <%= name %></h3>

<!-- create lists -->
<!-- create items on list -->
<!-- view other lists -->
<!-- share button -->

<form method="POST" action="/list">
    <label for="title">New List</label>
    <input id="title" type="text" name="title">
  
  
    <input type="submit">
</form>

<% for (let i= 0; i< lists.length; i++) { %>
  <a href="/lists/<%= lists[i].id%>"><%=lists[i].title %></a> 
  
  <% } %>

  

 <form action="/list">
    <input type="submit" value="Go to List" />
</form>


  