<h1><%= foundList.get().title%></h1>

<form method="POST" action="/item">
    <label for="title">New Item</label>
    <input id="title" type="text" name="title">
  
  
    <input type="submit">

</form>