<h1><%= foundItem.get().title%></h1>

<form method="POST" action="/singleItem/<%= id %>">
    <label for="title">New Item</label>
    <input id="title" type="text" name="title">
    
  
    <input type="submit">

</form>